<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <div class="py-16">
        <div class="max-w-5xl mx-auto px-4">
            <h2 class="text-3xl font-bold mb-8 text-center text-black">Sobre Nosotros</h2>

            <div class="rounded-lg shadow-md p-6 mb-8" style="background-color: #1B2C64;">
                <h3 class="text-2xl font-bold mb-4 text-white">Quiénes Somos</h3>
                <p class="text-lg text-white">
                    En La Casa Informática, nos especializamos en ofrecer talleres, cursos, servicios de consultoría y productos tecnológicos en el ámbito de la informática y la tecnología. Nuestra misión es proporcionar formación y soluciones digitales de alta calidad para individuos y pequeñas y medianas empresas (PYMES), ayudándolos a adaptarse al entorno digital en constante evolución.
                </p>
            </div>

            <div class="rounded-lg shadow-md p-6 mb-8" style="background-color: #1B2C64;">
                <h3 class="text-2xl font-bold mb-4 text-white">Misión</h3>
                <p class="text-lg text-white">
                    Nuestra misión es ofrecer educación tecnológica accesible y de alta calidad, junto con consultoría especializada y productos tecnológicos, para que tanto personas como empresas puedan desarrollar las habilidades y herramientas necesarias para sobresalir en el mundo digital.
                </p>
            </div>

            <div class="rounded-lg shadow-md p-6 mb-8" style="background-color: #1B2C64;">
                <h3 class="text-2xl font-bold mb-4 text-white">Visión</h3>
                <p class="text-lg text-white">
                    Visualizamos un mundo en el que todas las personas y empresas tengan acceso a formación, consultoría y productos tecnológicos innovadores. Queremos ser un referente en la industria, ofreciendo no solo educación, sino también soluciones digitales y productos tecnológicos que ayuden a nuestros estudiantes y clientes a prosperar en un entorno digital en constante cambio.
                </p>
            </div>

            <div class="rounded-lg shadow-md p-6 mb-8" style="background-color: #1B2C64;">
                <h3 class="text-2xl font-bold mb-4 text-white">Valores</h3>
                <ul class="list-disc list-inside text-lg text-white">
                    <li>EXCELENCIA</li>
                    <li>INNOVACIÓN</li>
                    <li>APRENDIZAJE CONTINUO</li>
                    <li>ADAPTABILIDAD</li>
                    <li>DIVERSIDAD E INCLUSIÓN</li>
                </ul>
            </div>

            <div class="rounded-lg shadow-md p-6">
                <h3 class="text-2xl font-bold mb-4 text-white">Mejores Reseñas y Críticas</h3>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

                    <div class="bg-indigo-100 rounded-lg p-4">
                        <p class="text-gray-800">"La Casa Informática ha sido una revelación para mí. Sus cursos me han ayudado a mejorar mis habilidades en informática de una manera sorprendente. ¡Altamente recomendado!"</p>
                        <p class="text-gray-600 mt-4">- María Gómez</p>
                    </div>

                    <div class="bg-indigo-100 rounded-lg p-4">
                        <p class="text-gray-800">"Excelente experiencia con La Casa Informática. Los talleres son muy completos y fáciles de seguir. Sin duda volveré por más."</p>
                        <p class="text-gray-600 mt-4">- Juan Pérez</p>
                    </div>

                    <div class="bg-indigo-100 rounded-lg p-4">
                        <p class="text-gray-800">"Los cursos de La Casa Informática son geniales. Me han ayudado a avanzar en mi carrera profesional. ¡Gracias por todo!"</p>
                        <p class="text-gray-600 mt-4">- Ana Rodríguez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
