<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <style>
       body {
            background-color: #A3D5E5; /* Color celeste */
            color: white; /* Color de texto blanco por defecto */
            margin: 0; /* Eliminar m치rgenes por defecto del body */
        }
        .card {
    background-color: #2D3748; /* Color de fondo de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno reducido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s; /* Efecto de transici칩n */
    flex: 1 1 calc(25% - 20px); /* Cuatro tarjetas por fila */
    margin: 30px; /* Espaciado entre las tarjetas */
    max-width: 500px; /* Tama침o m치ximo de las tarjetas */
}

/* Media query para pantallas m치s peque침as (como m칩viles) */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Dos tarjetas por fila */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Una tarjeta por fila en pantallas muy peque침as */
    }
}

        
        .card img {
            max-width: 100%; /* Imagen responsive */
            border-radius: 8px; /* Bordes redondeados de la imagen */
        }
        .card-container {
            display: flex; /* Utiliza flexbox para la disposici칩n */
            flex-wrap: wrap; /* Permite que las tarjetas se muevan a la siguiente l칤nea */
            justify-content: center; /* Centra las tarjetas en el contenedor */
        }
        h1 {
            color: black; /* Cambiar el color del encabezado a negro */
        }
    </style>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="flex min-h-screen flex-col items-center">
        <h1 class="text-4xl font-bold text-center my-6">
            CAT츼LOGO DE PRODUCTOS
        </h1>
    
        <div class="card-container">
            <div class="card">
                <img src="/img/polo.jpeg" alt="Polo de programaci칩n" /><br>
                <h2 class="text-xl font-semibold text-center">Polo Inform치tico</h2><br>
                <p class="text-gray-300"><strong>PRECIO: 60 soles <br></strong></p>
                <p class="text-gray-300"><strong>SOLO V츼LIDO PARA PER칔 游왫릖<br></strong></p>
                <p class="text-gray-300"><strong>En el precio no se incluye el env칤o<br></strong></p>
                <br>
                <p class="text-gray-300">Este polo de programaci칩n es perfecto para mostrar tu pasi칩n por la tecnolog칤a y la programaci칩n. Confeccionado en algod칩n suave y transpirable, te mantendr치 c칩modo mientras trabajas en tus proyectos o asistes a eventos de tecnolog칤a.</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20el%20Polo%20Inform치tico" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
            
            <div class="card">
                <img src="/img/gorra.jpeg" alt="Gorro Inform치tico" /><br>
                <h2 class="text-xl font-semibold text-center">Gorro Inform치tico</h2><br>
                <p class="text-gray-300"><strong>PRECIO: 30 soles<br></strong></p>
                <p class="text-gray-300"><strong>SOLO V츼LIDO PARA PER칔 游왫릖<br></strong></p>
                <p class="text-gray-300"><strong>En el precio no se incluye el env칤o<br></strong></p>
                <br>
                <p class="text-gray-300">Este gorro inform치tico es el complemento perfecto para cualquier amante de la tecnolog칤a. Hecho de materiales de alta calidad, es c칩modo y ligero, ideal para mantenerte abrigado mientras trabajas en tus proyectos o asistes a eventos de programaci칩n. 춰Expr칠sate con estilo!</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20el%20Gorro%20Inform치tico" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
        </div>
        
        <div class="card-container">
            <div class="card">
                <img src="/img/taza.jpeg" alt="Taza Inform치tica" /><br>
                <h2 class="text-xl font-semibold text-center">Taza Inform치tica</h2><br>
                <p class="text-gray-300"><strong>PRECIO: 15 soles<br></strong></p>
                <p class="text-gray-300"><strong>SOLO V츼LIDO PARA PER칔 游왫릖<br></strong></p>
                <p class="text-gray-300"><strong>En el precio no se incluye el env칤o<br></strong></p>
                <br>
                <p class="text-gray-300">Disfruta de tu bebida favorita en esta taza inform치tica, dise침ada especialmente para los apasionados de la tecnolog칤a. Hecha de cer치mica de alta calidad, es ideal para el caf칠, t칠 o cualquier bebida caliente que te acompa침e mientras trabajas o estudias. 춰Haz que cada sorbo sea una experiencia 칰nica!</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20la%20Taza%20Inform치tica" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        Solicitar Compra
                    </a>
                </div><br>
            </div>
            
            <div class="card">
                <img src="/img/Caja.jpeg" alt="La Caja Inform치tica" /><br>
                <h2 class="text-xl font-semibold text-center">LA CAJA INFORM츼TICA</h2><br>
                <p class="text-gray-300"><strong>SOLO V츼LIDO PARA PER칔 游왫릖<br></strong></p>
                <p class="text-gray-300"><strong>En el precio se incluye el env칤o<br></strong></p>
                <p class="text-gray-300"><strong>PRECIO: 100 soles </strong></p><br>
                <p class="text-gray-300">La Caja Inform치tica es el paquete perfecto para los amantes de la tecnolog칤a. Incluye un Polo de Programaci칩n, un Gorro Inform치tico y una Taza Inform치tica, todos dise침ados para ofrecer estilo y comodidad mientras muestras tu pasi칩n por el mundo digital. Ideal como regalo o para disfrutar de un conjunto que resalta tu personalidad techie.</p>
                <div class="flex justify-center mt-4">
                    <a href="https://wa.me/51976783049?text=Hola%20deseo%20comprar%20la%20Caja%20Inform치tica" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-block">
                        M치s informaci칩n
                    </a>
                </div><br>
            </div>
        </div>
        
            
            
            
        </div>
       
    </main><br><br>

    <%- include('partials/footer') %>
</body>
</html>
