<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<footer class="bg-blue-950 text-white">
  <div class="container mx-auto p-6">
    <div class="flex flex-col md:flex-row justify-around items-center text-center md:text-left">
      <div class="mb-4 md:mb-0">
        <h2 class="text-xl font-bold">LA CASA INFORMÁTICA</h2>
        <p>Domina la Tecnología de Forma Práctica y Actualizada</p>
      </div>
      <div class="mb-4 md:mb-0">
        <p>Teléfono: <a href="https://wa.me/51976783049" class="text-blue-400">+51 976783049</a></p>
        <p>Email: <a href="mailto:leonardopalomino321@gmail.com" class="text-blue-400">leonardopalomino321@gmail.com</a></p>
      </div>
      <div class="mb-4 md:mb-0">
        <h3 class="font-bold">Redes Sociales</h3>
        <div class="flex justify-center space-x-4">
          <a href="https://www.instagram.com/leonardo_palomino1/" class="text-blue-400 hover:underline">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.tiktok.com/@lacasa_informatica" class="text-blue-400 hover:underline">
            <i class="fab fa-tiktok"></i>
          </a>
          <a href="https://www.youtube.com/@LaCasaInformatica" class="text-blue-400 hover:underline">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-4 border-t border-gray-600 pt-4 text-center">
      <p>&copy; 2024. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #1e3a8a; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
  }

  footer a {
    color: #61dafb; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 24px; /* Tamaño del ícono */
  }

  footer a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
  }
</style>
